############################
# OH MY ZSH 
############################
# Path to your oh-my-zsh installation.
export ZSH=$HOME/.oh-my-zsh

# Removing auto update
zstyle ':omz:update' mode disabled

# oh-my-zsh plugins
plugins=(
    ripgrep 
    zsh-syntax-highlighting 
    zsh-autosuggestions 
)


{{- if ne .chezmoi.hostname "dockerz" }}
plugins+=(
    # This was causing issues on dockerz
    zsh-autocomplete
)
{{- end}}

{{- if eq .chezmoi.hostname "Garys-MacBook-Pro" }}
plugins+=(
    git-open
    gh 
    docker 
    docker-compose
    aws 
    poetry
) 
{{- end }}

# Plugin settings
zstyle ':autocomplete:*' min-delay 0.05  # seconds (float)

# Source oh-my-zsh.sh
source $ZSH/oh-my-zsh.sh

############################
# SHELL UTILS
############################

# fzf
[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh

# Zoxide = z replacement!
eval "$(zoxide init zsh)"

# Atuin shell history
eval "$(atuin init zsh)"

# Starship prompt
eval "$(starship init zsh)"

# Bitwarden cli completions
eval "$(bw completion --shell zsh); compdef _bw bw;"

# Make helix the default CLI editor
export EDITOR="hx"

############################
# ALIASES
############################
alias dps="docker ps"
alias f="open ."
alias ls="exa"
alias la="exa -la"
alias tree="exa -T"

############################
# LOCAL CONFIGURATIONS
############################

{{- if eq .chezmoi.hostname "Garys-MacBook-Pro" }}
eval "$(/Users/tolki/.local/share/rtx/bin/rtx activate zsh)"
{{- end }}